<button (click)="goBack()">Indietro</button>

<form class="detail-form" #transactionForm="ngForm">
  <div class="form-group">
    <label for="cause">Iban</label>
    <input type="text" name="iban" id="iban" [(ngModel)]="contact.iban" class="form-control">
  </div>
  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" [(ngModel)]="contact.name" class="form-control">
  </div>
  <button type="submit" class="btn btn-default" (click)="create()">Crea</button>
</form>
