<table class="table table-striped">
  <thead>
      <tr>
          <th>Data</th>
          <th>Emitter</th>
          <th>Causale</th>
          <th>Receiver</th>
          <th>Amount</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{transaction.date | date}}</td>
      <td>{{transaction.emitterIban}}</td>
      <td>{{transaction.cause}}</td>
      <td>{{transaction.receiverIban}}</td>
      <td>{{transaction.amount}}</td>
    </tr>
  </tbody>
</table>
