.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: aliceblue;
}

.balance-row {
  text-align: right;
  font-weight: bold;
}

.table-hover tbody .balance-row:hover td {
  background-color: white;
  cursor: default;
}

.balance-row .balance-value {
  text-align: left;
}

.action:hover {
  cursor: pointer;
}

.no_transaction {
  position: absolute;
  width: 30%;
  height: 10%;
  left: 35%;
  top: 45%;
  z-index: 10;
  text-align: center;
}