<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr class="tablerow">
        <th width="12%">Data</th>
        <th width="70%">Causale</th>
        <th width="18%">Importo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions" (click)="transactionClicked(transaction)">
        <td>{{transaction.date | date: "dd/MM/yyyy"}}</td>
        <td>{{transaction | transactionCause}}</td>
        <td>{{transaction | decimalAmount: "iban1"}}</td>
      </tr>
    </tbody>
  </table>
</div>
