ul li {
  color: #11349d;
  font-size: 18px;
  font-weight: normal;
  margin: 12px 0;
}

.services-container {
  border: 1px solid #11349d;
  color: #11349d;
  font-size: 22px;
  font-weight: bold;
  padding: 2%;
  border-radius: 20px;
}

.btn-success, .btn-default {
  width: 120px;
  margin: 5px 15px;
}

.button-container {
  position: relative;
}

.row {
  margin: 15px 0;
}

.brand_icon {
  width: 60%;
}
